body {
    font-size: 16px;
    line-height: 27px;
    font-family: $base-font;
    font-weight: 400;
    color: $color-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $base-font;
    font-weight: 700;
}

h2 {
    font-size: 72px;
    line-height: 86px;

    @include respond-to('mobile') {
        font-size: 40px;
        line-height: 48px;
    }

    @include respond-to('sm-mobile') {
        font-size: 30px;
        line-height: 36px;
    }
}

h3 {
    font-size: 37px;
    line-height: 44px;

    @include respond-to('mobile') {
        font-size: 30px;
        line-height: 36px;
    }
}

h4 {
    font-size: 31px;
    line-height: 37px;

    @include respond-to('mobile') {
        font-size: 24px;
        line-height: 30px;
    }
}

h6 {
    font-size: 18px;
    line-height: 22px;

    @include respond-to('mobile') {
        font-size: 16px;
        line-height: 26px;
    }
}

.btn {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
}



.nav-wrapper {
    > ul {
        > li {
            > a {
                font-size: 20px;
                font-weight: 700;
                text-decoration: none;

                @include respond-to('tablate') {
                    font-size: 16px;
                }

                @include respond-to('desktop') {
                    font-size: 20px;
                }
            }
        }
    }
}

.section-title{
    P {
        font-size: 20px;
        line-height: 34px;
    }
}